@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 18px 40px;
    box-shadow: 0 0.1rem #bdbcbc;
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 18px;
    font-family: "poppins", sans-serif;

}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.image-home {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    width: 33vw;
}

.home-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20vw; 
    font-size: 30px;
    text-align: justify ;
    text-align: center;
    margin-left: 47px;
}

.home-text h4 {
    font-size: 40px;
    display: flex;
    align-items: center;
    color: #fa9938;
}

.home-text h1 {
    font-size: 65px;
}

.home-btn {
    padding: 12px 20px;
    background-color: #f19940;
    border-radius: 5px;
    margin-top: 7px;
    text-decoration: none;
    color: white;
    font-weight: 250;
}

.home-btn:hover {
    background-color: #f7cda4; 
    transition: all 0.5;
}

div.bloco {
    background: url(image/burg_body.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    margin-top: auto; 
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vw;
    margin-top: 10vw;      
 }

.slide {
    height: 50vh;
    width: 100vw;
    border: 1px solid black; 
    margin: 20px;
    background-size: contain;
}

.slide img {
    width: 800px;
    align-items: center;
}


/* carrocel estrutura

.slides_radio {
    width: 400%;
    height: 200px;
    display: flex;
}

.slider input {
    display: none;
}


.slide img {
    width: 800px;foda
}

.mmanual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manuel-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manuel-btn:not(:last-child) {
    margin-right: 40px;
}

.manuel-btn {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation_auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation_auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .manuel-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .manuel-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .manuel-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .manuel-btn4{
    background-color: white;
} */



@media (max-width: 1000px){
    header {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
        padding: 18px 30px;
    }

    h1 {
        text-align: center;
        margin: 20px;
        padding-right: 20px;
    }
}
    